body {
    font-family: $font-default;
}

h2 {
color: $green;
text-transform: uppercase;
text-align: center;

}

h1,
h2,
h3 {
    font-family: $font-title;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.home h1, {
    font-size: 0;
}

.header-content a {

    color: white,
}