// Layout
$max-width: 1200px;
$bp-medium: 768px;
$bp-large: 992px;
$marge: 15px;

// Typos
$font-default: 'Raleway-regular', sans-serif;
$font-title: 'RobotoSlab-Regular', $font-default;

// Colors
$yellow: #FCBF00;
$dark-yellow: #FF8B03;
$green: #17BEBB;
$lightgreen: rgba(27, 153, 138, 0.603);
$dark-gray: #a7a7a7;
$light-gray: #e5e5e5;

$link-color: $yellow;